.main-content {
    width: 70%;
    height: auto;
    gap: 10px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 2px dotted #000;
  }


.two_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button:hover {
    background-color: lightgrey;
  }

  
.footer {
  padding: 12px 0;
  background: #E0E1E1;
  color: #616161;
  font-size: 12px;
  font-weight: 500px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}