<div id="classify_text"><span style="font-size: 20px;">Classify</span><span style="font-size: 12px; font-weight: 400;">&nbsp;(Locked)</span></div>
<button routerLink="/classify_answer">classify answer</button>
<div class="main-content">
    <div class="two_buttons">
        <div class="button_parent">
            <button (click)="showComponent('question_properties')" class="button">
                <div id="pen_logo">
                    1
                </div>
                <div class="button_side_text">
                    Question Properties
                </div>
            </button>
        </div>
        <div class="button_parent">
            <button (click)="showComponent('question_content')" class="button">
                <div id="two_logo">
                    2
                </div>
                <div class="button_side_text">
                    Question Content
                </div>
            </button>
        </div>
    </div>
</div>

<div>
    <app-main-properties *ngIf="activeComponent === 'question_properties'"></app-main-properties>
    <app-main-content *ngIf="activeComponent === 'question_content'"></app-main-content>
</div>
<div class="last_button_parent">
    <button class="change_buttons" *ngIf="activeComponent === 'question_properties'" (click)="showComponent('question_content')">SAVE AND PROCEED</button>
    <button class="change_buttons" *ngIf="activeComponent === 'question_content'" (click)="showComponent('question_properties')">PREVIOUS</button>
</div>

<footer>
    <div class="footer">
        <div>ATHENA LOGO </div>
        <div>
            <span>Copyright</span>
            <span aria-hidden="true">&copy;</span>
            <span>2000-2024</span>
            <a href="https://www.zeuslearning.com/" target="_blank">
                Zeus Systems Pvt. Ltd.
            </a>
            <span>All rights reserved.</span>
        </div>
    </div>
</footer>
