.main-content {
    width: 70%;
    height: auto;
    gap: 10px;
    margin: 0px auto;
    background-color: white;
    /* border: 2px dotted #000; */
  }


.two_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.button {
    font-weight: 700;
    background-color: inherit;
    border: none;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 12px 30px;
    gap: 10px;
}

.button_parent:hover {
    background: lightgrey;
}

  
.footer {
  padding: 12px 0;
  background: #E0E1E1;
  color: #616161;
  font-size: 12px;
  font-weight: 500px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#classify_text{
  width: 70%;
  height: auto;
  margin: 20px auto;
  font-family: Quicksand;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  display: flex;
  font-weight: 600;
}

#pen_logo, #two_logo{
  background: #3FD28B;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_side_text{
  height: 100%;
  display: flex;
  align-items: center;
}

.last_button_parent{
  display: flex;
}


.change_buttons{
  font-family: inherit;
  font-weight: 700;
  padding: 5px 10px;
  background: #3FD28B;
  width: auto;
  height: auto;
  color: black;
  border: none;
  border-radius: 2px;
  margin: auto;
}