<div class="main-content">
    <div>Classify (Locked)</div>
    <div class="two_buttons">
        <div>
            <button (click)="showComponent('question_properties')" class="button">Question Properties</button>
        </div>
        <div>
            <button (click)="showComponent('question_content')" class="button">Question Content</button>
        </div>
    </div>
</div>

<div>
    <app-main-properties *ngIf="activeComponent === 'question_properties'"></app-main-properties>
    <app-main-content *ngIf="activeComponent === 'question_content'"></app-main-content>
</div>

<footer>
    <div class="footer">
        <div>ATHENA LOGO </div>
        <div>
            <span>Copyright</span>
            <span aria-hidden="true">&copy;</span>
            <span>2000-2024</span>
            <a href="https://www.zeuslearning.com/" target="_blank">
                Zeus Systems Pvt. Ltd.
            </a>
            <span>All rights reserved.</span>
        </div>
    </div>
</footer>
