<div class="matrix-container">
  <div id="whole_question">
    <div id="question_stem" class="individual_header">
      Question (Stem)*
    </div>
    <div id="question_textbox">
      <input id="enter_question" type="text" placeholder="Enter Question (Stem)" required>
    </div>
  </div>
  <br>
  <div id="whole_title_position">
    <div id="set_title_position" class="individual_header">
      Set Title Position
    </div>
    <div id="title_checkbox">
      <span class="checkbox_each_element">
        <input type="checkbox" id="1st_Column" name="1st_Column" value="1st_Column" class="checkbox_element" [(ngModel)]="isFirstColumnChecked">
        <label class="checkbox_label" for="1st_Column"> 1st Column</label>
      </span>
      <span class="checkbox_each_element">
        <input type="checkbox" id="1st_Row" name="1st_Row" value="1st_Row" class="checkbox_element" [(ngModel)]="isFirstRowChecked">
        <label class="checkbox_label" for="1st_Row"> 1st Row</label>
      </span>
    </div>
  </div>

  <div class="whole_matrix">
    <div id="matrix_section" class="individual_header">
      Matrix Section*
    </div>
    
    <!-- <div *ngIf='check_checkbox_state()'>asdfasdfasdfasdfasd</div> -->
    <div class="mat-flex">
      <div class="parent-mat">
        <div *ngFor="let row of matrix_elements; index as i">
          <div class="row">
            <div *ngFor="let mat of row; index as j">
              <div *ngIf="i === 0 || j === 0; else other_content">
              <div *ngIf="i === 0 && j !== 0 && isFirstRowChecked">
                <div class="mat_title" [attr.id]="mat.id">
                  <div class="title_input_border">
                    <input type="textbox" class="title_input">
                  </div>
                </div>
              </div>
              <div *ngIf="j === 0 && i !== 0 && isFirstColumnChecked">
                <div class="mat_title" [attr.id]="mat.id">
                  <div class="title_input_border">
                    <input type="textbox" class="title_input">
                  </div>
                </div>
              </div>
              <div *ngIf="i ===0 && j === 0 && isFirstRowChecked && isFirstColumnChecked">
                <div class="mat_title" [attr.id]="mat.id">
                  <div class="title_input_border">
                    <input type="textbox" class="title_input">
                  </div>
                </div>
              </div>
            </div>
            <ng-template #other_content>
              <div class="mat" [attr.id]="mat.id"></div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div>

      <div><button class="add_delete_buttons" (click)="add_column()">
        <div>
          +
        </div>
        <div>
          Add column
        </div></button>
      </div>
      <div>
        <button class="add_delete_buttons" [disabled]="matrix_elements[0].length <= 2" [ngClass]="{'disabled-button':matrix_elements[0].length <= 2}"
        (click)="del_column()">
        <div>
          x
        </div>
        <div>
          Remove column
        </div>
        </button>
      </div>
    </div>
</div>

    <div><button class="add_delete_buttons" (click)="add_row()">
      <div>
        +
      </div>
      <div>
        Add row
      </div></button></div>
    <!-- first [disabled](attribute binding) is set to true or false dependig on condition, then ngclass is being assiged to button(class binding) based on disabilityy -->
    <div><button class="add_delete_buttons" [disabled]="matrix_elements.length <= 2" [ngClass]="{'disabled-button':matrix_elements.length <= 2}" (click)="del_row()">
      <div>
        x
      </div>  
      <div>
        Remove row
      </div>
      </button>
    </div>
    <!-- <div><button *ngIf="matrix_elements.length > 2" (click)="del_row()">delete row</button></div>
    <div><button *ngIf="matrix_elements[0].length > 2" (click)="del_column()">delete column</button></div> -->
    
  </div>
</div>